
.popup-container {
    display: flex;
    flex-direction: column;

    padding: 1rem 2rem;

    position: fixed;
    top: 30px;
    right: 30px;

    justify-content: space-evenly;
    color: white;

    border-radius: .5rem;
    animation: fadein 1s ease-out;

    z-index: 999;
}

.popup-container h3 {
    margin: 0;
    margin-bottom: 1rem;
}

.popup-container p {
    margin: 0;
}


@keyframes fadein {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}